.container {
  width: 70%;
  margin: auto;
  text-align: center;
  
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000000;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ffffff;
  border-style: solid;
  border-radius: 20px;
  padding-bottom: 20px;
  background-color: #544f47
}

p {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;

}
span{
  font-size: 30px;
}
